.card {
  all: unset;
  width: 100%;
  max-width: 150px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: auto;
  }

  &.interactive {
    cursor: pointer;

    transition: transform 0.2s ease-out;

    &:hover {
      transform: scale(1.1) translate3d(0, -10px, 0);
    }
  }
}

.cards-hand-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.discard-pile {
  margin-bottom: 20px;
}

.local-players {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  .local-player {
    width: 100%;
  }
}
